@charset "utf-8";


html {
  background-color: #01024e;
}



@media screen and (min-width: 600px) {

.about-the-author {
  margin: 10%;
}

.important-text {
  margin: 0%;
  padding: 25px;
  font-size: 125%;
  background-color: whitesmoke;
  border-radius: 5px;
}

.content {
  max-width: 1200px;
  margin: 20px auto 50px;
  background-color: rgba(255, 255, 255, 0.5);
}

.cover-blurb-section {
  max-width: 1400px;
  display: block;
  align-content: center;
  margin: 20px auto auto 40px;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
}


.blurb {
  display: flex;
  align-content: center;
  margin: 2% auto 10%;
  padding: 20px;
}

figure {
  justify-content: center;
  margin: 5%;
  padding: 20px;
  border-radius: 5px;
}

img {
  border-radius: 5px;
}

#author-text,
.publication-info {
  text-align: center;
}

.publication-info {
  margin-top: 20px;
}

#author-text {
  font-size: 150%;
}

.book-info {
  margin-top: 20px;
}

.book-info,
.publication-info {
  padding: 10px;
  margin-left: 0px;
  font-size: 100%;
}

.about-the-book {
  padding: 20px;
  margin-top: 20px;
  font-size: 120%;
}

#blurb-top {
  font-variant: small-caps;
  font-size: 150%;
  padding: 10px;
  text-align: center;
}

#cover {
  width: 80%;
  align-content: center;
}

#chapter-icon {
  float: left;
  padding: 20px;
}

#chapter-one {
  text-align: center;
  font-size: 2rem;
  padding: 25px;
  margin-top: 5%;
}

.chapter-text {
  text-align: left;
  text-indent: 25px;
  padding-left: 25px;
}

#chapter-link {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 5px;
}

.flex-container {
  margin: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}



#book-first-chapter {
  width: 80%;
  margin: 10px auto auto auto;
  background-image: url(dragon-fade.png);
  padding: 50px;
}

.info-container {
  padding: 20px;
}



blockquote .author em {
  display: block;
  font-size: 0.8em;
  margin-top: 4px;
}



#buttons-go-here {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
  padding: 30px;
  margin: auto;
  flex-direction: row;
}

section.hero {
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 20%;
  margin: 30px;
  padding: 20px;
}

.quote-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.quote-container {
    max-width: 100px;
    padding: 2px 16px;

}

#blurb-bottom {
    text-align: center;
    padding: 20px;
}

#game-container{
    display: flex;
    flex-direction: column;
    align-content: center;
}

#game-container > h2{
    text-align: center;
    font-size: 120%;
    padding: 1%;
}

#game-button{
    background-color: #ff0000;
    margin-left: 22%;
    margin-right: 22%;
    margin-top: auto;
    max-width: 50%;
    padding: .5%;

}

}

@media screen and (max-width: 600px){
#cover{
  display: block;
  align-content: center;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.cover-blurb-section {
  display: block;
  align-content: center;
  margin: .5%;
  background-color: #01024e;
  padding: .5%;
  border-radius: 5px; 
}

.blurb, .book-first-chapter {
  display: block;
  align-content: center;
  margin: 2% auto 10%;
  background-color: #6193c5;
  padding: 20px;
  border-radius: 5px;
}

.about-the-book, .info-container{
  display: block;
  align-content: center;
  margin: .5%;
  background-color: whitesmoke;
  padding: 2%;
  border-radius: 5px; 
}

#chapter-icon {
  max-width: 100%;;
  max-height: 100%;
  float: left;
  padding: 20px;
}



#chapter-one {
  text-align: center;
  font-size: 1.2rem;
  padding: 25px;
  margin-top: 5%;
}

#chapter-text {
  text-align: left;
  font-size: 1rem;
  padding-left: 25px;
  padding-right: 25px;
}

#chapter-link {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 5px;
}

#blurb-top {
  font-variant: small-caps;
  font-size: 150%;
  padding: 10px;
  text-align: center;
}

#blurb-bottom {
  text-align: center;
  padding: 20px;
}

.publication-info {
  padding: 10px;
  margin-left: 0px;
  font-size: 100%;
}

.audio-container.card{
  background-color: #6193c5;
  margin: 2%;
  padding: 1%;
}


.flex-container, .game-container{
  margin: 2%;
  padding: 2%;
}

#buttons-go-here{
  margin: 5%;
  padding: 2%;
}

.bottom-button{
  align-content: center;
  margin: 5%;
}

}

#clockheader {
  color: whitesmoke;
  font-weight: 100;
  font-size: 30px;
  font-variant: small-caps;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
}

#clockdiv {
  display: block;
  height: 50%;
  margin: 5%;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  background: #2d5986;
  font-family: sans-serif;
  font-weight: 100;
  font-family: sans-serif;
  color: #fff;
  /*display: inline-block;*/
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  background: #6193c5;
  display: inline-block;
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  background: #526e8a;
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
  color: whitesmoke;
}

#mobile-link{
  text-decoration: none;
  color: #2e384d;
}


#mobile-friend{
  max-width: 90%;
  max-height: 90%;
}