html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

main{
  min-height: calc(100vh - 391px);
}

section.page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

section.hero {
  min-height: calc(100vh - 200px);
}
section.hero .countdown {
  /* color: #fff; */
  font-size: 20px;
  align-self: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

section.hero .countdown h1 {
  font-size: 80px;
}

section .link-next {
  align-self: flex-end;
  display: block;
  margin: 0 auto 20px;
}

img.responsive{
  border-radius: 5px;
  max-width: 100%;
  width: 100%;
}

.book-info{
  text-align: center;
  margin-top: 20px;
}

.book-info-index{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
.book-info-index a{
  margin-top: 20px;
}
#marketplace-amazon     { order: 2; }
#marketplace-indiebound { order: 1;}
#marketplace-apple      { order: 3; }

@media (min-width: 768px){
  .book-info-index{
    margin-top: 20px;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .book-info-index a{
    margin-top: 0;
  }

  #marketplace-amazon     { order: 1; }
  #marketplace-indiebound { order: 2;}
  #marketplace-apple      { order: 3; }

}
