/* $grey-1: #4c4c4c */
/* $grey-2: #ccc */

body {
  color: #2e384d;
  background-color: #01024e;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;

  background-image: url("/images/dragon-fade.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* text-colors */
.text-primary {
  color: #0F1108;
}
.text-disabled {
  color: #aaa;
}
.read-more {
  color: #ff6464;
  font-style: italic;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #EAF4D3;
  box-shadow: rgba(46, 91, 255, 0.07) 0 10px 20px 0;

  margin-top: 25px;
  padding: 32px 45px 42px;
  border-image: url("../images/interlace-square-small-fade4.png") 31;
  background-image: url("../images/inter-background4.png");
  border-image-repeat: stretch;
  background-repeat: no-repeat;
  background-position: 50% -31px;
  background-clip: border-box;
  border-width: 31px;
}

.card > h1 {
  color: #543864;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  margin-left: -16px;
}
.card > h2 {
  margin-left: -16px;
  font-size: 1em;
  margin-bottom: 16px;
}
.card > h1 + h2 {
  margin-top: -16px;
}
.card > h2 + h2 {
  margin-top: -16px;
}
.card > hr {
  margin-left: -16px;
}

header,
footer {
  text-align: center;
  white-space: wrap;
  color: #FBF5F3;
}

header {
  font-size: 3rem;
  font-variant: small-caps;

}

header h1 {
  margin-top: 0;
}

footer {
  margin: 2%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 30px;
  background-color: #01024e;
  border-radius: 3px;
  color: whitesmoke;
  font-size:1rem;
  text-align: end;
  background-image: url("/images/dragon-fade.png");
}

blockquote {
  border-radius: 3px;
  background-color: #ddd;
  border-left: 5px solid #aaa;
  margin: 0;
  padding: 20px 20px 20px 40px;
  font-style: italic;
  position: relative;
}

blockquote::before {
  content: '"';
  position: absolute;
  top: -3px;
  left: 10px;
  font-size: 3em;
  color: inherit;
  font-family: cursive;
}

blockquote .author {
  margin-top: 0.2em;
  text-align: right;
  display: block;
  opacity: 0.7;
}

blockquote .author::before {
  content: "‒ ";
}

nav {
  background: rgb(233, 233, 233);
  background: linear-gradient(
    90deg,
    rgba(233, 233, 233, 0) 10%,
    rgba(233, 233, 233, 1) 20%,
    rgba(233, 233, 233, 1) 80%,
    rgba(233, 233, 233, 0) 90%
  );

  padding: 10px 5px;
  font-size: 20px;
  color: #01024e;

  /* display: flex;
  justify-content: space-around;
  background-color: #2d5986;
  padding: 10px 10%;
  max-width: 600px;
  margin: 0 auto;

  padding-top: 10px;
  padding-bottom: 10px;

  color: whitesmoke;
  text-align: center;
  font-size: 2rem;
  background-color: unset; */
}

nav a {
  padding: 10px 15px;
  color: inherit;
  text-decoration: none;
}

nav a:hover {
  color: inherit;
}

/* nav a + a {
  border-left: 3px solid #ff6464;
} */

button.btn {
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  padding: 5px 16px;
  min-width: 200px;
  font-size: 16px;
  cursor: pointer;

  /* colors */
  color: white;
  border-color: blue;
  background-color: cornflowerblue;
}

button[disabled] {
  opacity: 0.3;
  pointer-events: none;
}

button:hover {
  background-color: blue;
}

button.secondary {
  border-color: red;
  background-color: tomato;
}

button.secondary:hover {
  background-color: red;
}

button + button {
  margin-left: 10px;
}

.bottom-button{
  display: flex;
  align-content: space-between;
  margin: auto;
  padding: 30px;
}



ul.row-list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.row-list li {
  flex-basis: 250px;
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 30px;
  margin: 0 15px 30px;
}

.col-80-20 {
  display: flex;
  justify-content: space-between;
}

.col-80-20 > * {
  flex: 1;
}

aside.twitter{
  float: right;
  }

  #quote-card.card{
    max-width: 250px;
  }

  blockquote.card-container{
    margin: 40px auto auto auto;
  }

  #audio-container.card{
    max-width: 1400px;
    min-width: 400px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
  }
  #audio-container.card > h2{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
  }

  button.audio {
    font-size: 1rem;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
  }
