/* $grey-1: #4c4c4c */
/* $grey-2: #ccc */

body {
  color: #2e384d;
  background-color: #01024e;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;

  background-image: url("../images/dragon-fade.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* reset box-sizing on all elements */
* {
  box-sizing: border-box;
}

/* GRID SYSTEM */
.row{
  display: flex;
  margin-left: -12px;
  margin-right: -12px;
  flex-wrap: wrap;
}

.col-10,.col-20,.col-30,.col-40,.col-50,.col-60,.col-70,.col-80,.col-90,.col-100,
.col-md-10,.col-md-20,.col-md-30,.col-md-40,.col-md-50,.col-md-60,.col-md-70,.col-md-80,.col-md-90,.col-md-100,
.col-33, .col-md-33
{
  padding-right: 12px;
  padding-left: 12px;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

.col-10{ flex-basis: 10%; max-width: 10%; }
.col-20{ flex-basis: 20%; max-width: 20%; }
.col-30{ flex-basis: 30%; max-width: 30%; }
.col-33{ flex-basis: 33%; max-width: 33%; }
.col-40{ flex-basis: 40%; max-width: 40%; }
.col-50{ flex-basis: 50%; max-width: 50%; }
.col-60{ flex-basis: 60%; max-width: 60%; }
.col-70{ flex-basis: 70%; max-width: 70%; }
.col-80{ flex-basis: 80%; max-width: 80%; }
.col-90{ flex-basis: 90%; max-width: 90%; }
.col-100{ flex-basis: 100%; max-width: 100%; }

@media(min-width: 768px){
  .col-md-10{ flex-basis: 10%; max-width: 10%; }
  .col-md-20{ flex-basis: 20%; max-width: 20%; }
  .col-md-30{ flex-basis: 30%; max-width: 30%; }
  .col-md-33{ flex-basis: 33%; max-width: 33%; }
  .col-md-40{ flex-basis: 40%; max-width: 40%; }
  .col-md-50{ flex-basis: 50%; max-width: 50%; }
  .col-md-60{ flex-basis: 60%; max-width: 60%; }
  .col-md-70{ flex-basis: 70%; max-width: 70%; }
  .col-md-80{ flex-basis: 80%; max-width: 80%; }
  .col-md-90{ flex-basis: 90%; max-width: 90%; }
  .col-md-100{ flex-basis: 100%; max-width: 100%; }
}
/* END OF GRID SYSTEM *

/* text-colors */
.text-primary {
  color: #0F1108;
}

.text-disabled {
  color: #aaa;
}

.read-more {
  color: #ff6464;
  font-style: italic;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container { max-width: 500px; }
}

@media (min-width: 768px) {
  .container{ max-width: 600px; }
}

@media (min-width: 992px) {
  .container{ max-width: 800px; }
}
@media (min-width: 1200px) {
  .container{ max-width: 1000px; }
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #FBF5F3;
  box-shadow: rgba(46, 91, 255, 0.07) 0 10px 20px 0;

  margin-top: 24px;
  padding: 32px 45px 42px;
  border-image: url("../images/interlace-square-small-fade4.png") 31;
  background-image: url("../images/inter-background4.png");
  border-image-repeat: stretch;
  background-repeat: no-repeat;
  background-position: 50% -31px;
  background-clip: border-box;
  border-width: 31px;
}

.h-100{
  /* 24px margin-top */
  height: calc(100% - 24px);
}

.card > h1 {
  color: #543864;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  margin-left: -16px;
}
.card > h2 {
  margin-left: -16px;
  font-size: 1em;
  margin-bottom: 16px;
}
.card > h1 + h2 {
  margin-top: -16px;
}
.card > h2 + h2 {
  margin-top: -16px;
}
.card > hr {
  margin-left: -16px;
}

/* FORM ELEMENTS */
label{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top:10px;
  display: block;
}

.form-control{
  display: block;
  width: 100%;
  color: #2e384d;
  background-color: #ddf6ff;
  border: 1px solid #b4c7ce;
  border-radius: 5px;

  background-clip: padding-box;
  padding: 11px 16px;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0;

  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.form-control:focus {
  border-color: #9aa9ae;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #ddf6ff;
  background-color: #ffffff;
}

textarea.form-control{
  resize: vertical;

}

header,
footer {
  text-align: center;
  white-space: wrap;
  color: #FBF5F3;
}

header {
  font-size: 3rem;
  font-variant: small-caps;

}

header h1 {
  margin-top: 0;
}

footer {
  display: block;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 30px;
  background-color: #8b4367;
  border-radius: 3px;
  color: whitesmoke;
  font-size:1rem;
  text-align: left;
}

i.fab{
  padding: 20px;
  color: whitesmoke;
}

.icons{
  display: inline-block;
  margin: auto;
  padding: auto;
}

.icons + .icons{
  margin-left: 40%;
}

blockquote {
  border-radius: 3px;
  background-color: #ddd;
  border-left: 5px solid #aaa;
  margin: 0;
  padding: 20px 20px 20px 40px;
  font-style: italic;
  position: relative;
}

blockquote::before {
  content: '"';
  position: absolute;
  top: -3px;
  left: 10px;
  font-size: 3em;
  color: inherit;
  font-family: cursive;
}

blockquote .author {
  margin-top: 0.2em;
  text-align: right;
  display: block;
  opacity: 0.7;
}

blockquote .author::before {
  content: "‒ ";
}

nav {
  background: rgb(251, 245, 243);
  background: linear-gradient(
    90deg,
    rgba(251, 245, 243, 0) 10%,
    rgba(251, 245, 243, 1) 20%,
    rgba(251, 245, 243, 1) 80%,
    rgba(251, 245, 243, 0) 90%
  );

  padding: 10px 5px;
  font-size: 20px;
  color: #01024e;

  /* display: flex;
  justify-content: space-around;
  background-color: #2d5986;
  padding: 10px 10%;
  max-width: 600px;
  margin: 0 auto;

  padding-top: 10px;
  padding-bottom: 10px;

  color: #FBF5F3;
  text-align: center;
  font-size: 2rem;
  background-color: unset; */
}

nav a {
  padding: 10px 15px;
  color: inherit;
  text-decoration: none;
}

nav a.active{
  font-weight: 700;
}

nav a:hover {
  color: inherit;
}

/* nav a + a {
  border-left: 3px solid #ff6464;
} */

.btn {
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  padding: 5px 16px;
  min-width: 200px;
  font-size: 16px;
  cursor: pointer;

  /* colors */
  color: white;
  border-color: blue;
  background-color: cornflowerblue;
}

.btn[disabled] {
  opacity: 0.3;
  pointer-events: none;
}

.btn:hover {
  background-color: blue;
}

.btn.secondary {
  border-color: red;
  background-color: tomato;
}

.btn.secondary:hover {
  background-color: red;
}

.btn + .btn {
  margin-left: 10px;
}

.bottom-button{
  display: flex;
  align-content: space-between;
  margin: auto;
  padding: 30px;
}



ul.row-list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.row-list li {
  flex-basis: 250px;
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 30px;
  margin: 0 15px 30px;
}

.col-80-20 {
  display: flex;
  justify-content: space-between;
}

.col-80-20 > * {
  flex: 1;
}

aside.twitter{
  float: right;
  }

  #quote-card.card{
    max-width: 250px;
  }

  blockquote.card-container{
    margin: 40px auto auto auto;
  }

  .card blockquote.card-container{
    margin-left: -10px;
    margin-right: -10px;
  }


  #audio-container.card{
    max-width: 1400px;
    min-width: 400px;
    /*
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    */
    text-align: center;
    padding: 20px;
  }
  #audio-container.card > h2{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
  }

  button.audio {
    font-size: 1rem;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
  }

  p.book-text{
    padding: 2px;
    margin: 2px;
  }

  .blurb-top{
    font-variant: small-caps;
  }